@import "../../assets/variables.scss";

.app {
  border-radius: $radius;
  background: $bg;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#header {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $bg;
  display: flex;
  -webkit-app-region: drag;
  background: $lightBg;

  .title {
    color: black;
    flex-grow: 1;
    text-align: center;
  }

  button {
    font-size: 20px;
    width: 1em;
    height: 1em;
    cursor: pointer;
    transition: all 200ms;

    &:hover {
      i {
        color: $text;
      }
    }

    i {
      width: 1em;
      height: 1em;
      font-size: 1em;
      transition: all 200ms;
    }
  }

  #close {
    background: #f22222;

    &:hover {
      background: rgba(#f22222, 0.7);
    }
  }
}

.input {
  background: inherit;
  input {
    background: inherit;
    width: 100%;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $text;
  }
}
