@import "../../assets/variables.scss";

.app {
  border-radius: $radius;
  background: $bg;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#header {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $bg;
  display: flex;
  -webkit-app-region: drag;
  background: $lightBg;
  align-items: center;
  .title {
    color: black;
    flex-grow: 1;
    text-align: center;
    height: 100%;
  }

  button {
    height: 20px;
    width: 20px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      font-size: 14px;
      transition: all 200ms;
      border-radius: 0.5em;
      width: 1em;
      height: 1em;
      font-size: 1em;
      transition: all 200ms;
      background: #f22222;
    }
  }

  #close {
    &:hover {
      cursor: pointer;

      i {
        background: rgba(#f22222, 0.8);
        color: $text;
      }
    }
  }
}

.input {
  background: inherit;
  input {
    background: inherit;
    width: 100%;
    font-size: 30px;
    line-height: 50px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $text;
  }
}
