@import "./assets/variables.scss";
@import "./assets//fonts.scss";

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input::placeholder {
  color: $text;
  opacity: 0.6;
}
input::-moz-placeholder {
  color: $text;
  opacity: 0.6;
}
input:-ms-input-placeholder {
  color: $text;
  opacity: 0.6;
}
input::-ms-input-placeholder {
  color: $text;
  opacity: 0.6;
}
input::-webkit-input-placeholder {
  color: $text;
  opacity: 0.6;
}

html {
  width: 100%;
  background: transparent;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  // background: white;
  // border-radius: 5px;
  background: transparent;
  overflow: hidden;
}

input {
  cursor: text;
}

input,
button {
  -webkit-app-region: no-drag;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  background: transparent;
}
