window {
  /*background-color: grey;*/
}

entry {
  color: white;
  background-color: inherit;
  border-color: rgba(0,0,0,0);
  outline: none;
  /*outline-width: 0px;*/
  font-size: 22px;
  /*box-sizing: border-box;*/
  padding: 0 10px;
}

entry:focus {
  border-color: rgba(0,0,0,0);
  box-shadow: none;
}

.selected {
  border: none;
}
