* {
  padding: 0;
  margin: 0;
}

window {
  border-radius: 5px;
}

entry {
  color: white;
  background-color: #111;
  border-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 22px;
  padding: 0 10px;
}

entry:focus {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.selected {
  border: none;
}

list {
  outline: none;
  border-image-width: 0px;
  padding: 0;
}

row {
  outline-width: 0px;
  border-image-width: 0px;
}
